@font-face {
    font-family: ApeMount;
    src: url('fonts/ApeMount-eZj0O.otf');
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.container {
    background-color: #FFF7F8;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100vw;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0;
    margin: 0;

    color: #212121;
}

h3 {
    font-size: 31px;
    margin: 0;
    margin-top: 10px;
    font-family: 'Caveat Brush', cursive;
}

h1 {
    font-size: 42px;
    font-family: 'ApeMount', 'Caveat Brush', cursive;

    margin: 0;
    margin-top: 16px;
}

.left-fan>img, .right-fan>img {
    margin: 0;
    margin-top: 19px;
    max-width: 55px;
}

.right-fan>img {
    transform: rotateY(180deg);
}

/* GAMEBOARD STYLING */

.gameboard {
    margin-top: 8px;
}

.row {
    display: flex;
    margin: 0;
}

.box {
    border: 3px solid #D1495B;
    width: 90px;
    height: 90px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.box.upper {
    border-top: none;
}

.box.lower {
    border-bottom: none;
}

.box.left {
    border-left: none;
}

.box.right {
    border-right: none;
}

.fist {
    width: 55px;
    height: 46px;
}

/* BUTTONS STYLING */

button {
    border-radius: 30px;
    border: none;
    filter: drop-shadow(3px 3px 4px #212121);
    color: #FFF7F8;
    font-family: 'Caveat Brush', cursive;
    padding-bottom: 7px;
}

.try-button {
    width: 141px;
    height: 44px;
    background-color: #D1495B;
    font-size: 38px;

    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 32px;
    margin-top: 16px;
}

.buttons {
    width: 100%;
    display: flex;
    justify-content: space-around;
}

.music-button, .quote-button {
    height: 31px;
    background-color: #212121;
    font-size: 20px;
}

.music-button {
    width: 89px;
}

.quote-button {
    width: 141px;
}

/* QUOTE GENERATOR STYLING */

.quote-section {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

img.master {
    width: 174px;
    height: 182px;
}

.quotes {
    /* border: 1px solid red; */
    width: 146px;
    min-height: 46px;
    font-size: 20px;
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 600;
    text-align: center;

    align-self: center;
    margin-right: 19px;
}


/* FOOTER STYLING */
.footer {
    width: 100vw;

    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
    background-color: #212121;
    color: #FFF7F8;
    font-family: 'Caveat Brush', cursive;
}

/* DESKTOP STYLES */
@media (min-width: 1000px) {
    html {
        -ms-overflow-style: none;  /* Internet Explorer 10+ */
        scrollbar-width: none;  /* Firefox */
    }
    html::-webkit-scrollbar { 
        display: none;  /* Safari and Chrome */
    }

    .container {
        background-image: linear-gradient(#D1495b, #FFF7F8, #FFF7F8, #FFF7F8, #FFF7F8);
    }
    
    .heading {
        flex-direction: row;
        gap: 72px;
    }

    h1, h3 {
        font-size: 84px;
        font-family: 'ApeMount', 'Caveat Brush', cursive;
    }

    .left-fan>img, .right-fan>img {
        margin: 0;
        margin-top: 19px;
        max-width: 150px;
    }
    
    .right-fan>img {
        transform: rotateY(180deg);
    }

    .gameboard {
        margin-top: 24px;
    }

    .box {
        width: 120px;
        height: 120px;
        border: 8px solid #D1495B;
    }

    .box:hover {
        background-color: #D1495B;
        opacity: 20%;
    }

    .try-button {
        width: 275px;
        height: 80px;
        font-size: 72px;
        margin-top: 54px;
    }

    .footer {
        height: 48px;
        font-size: 36px;
    }

    .music-button, .quote-button {
        width: 248px;
        height: 60px;
        font-size: 44px;
    }

    .quote-section {
        justify-content: space-around;
        gap: 300px;
        margin-top: 72px;
    }
    
    img.master {
        width: 400px;
        height: 400px;
    }
    
    .quotes {
        width: 400px;
        min-height: 90px;
        font-size: 48px;
    } 

    .fist {
        width: 100px;
        height: auto;
    }
}
