@font-face {
    font-family: ApeMount;
    src: url('fonts/ApeMount-eZj0O.otf');
}

html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    min-height: 100vh;
}

.container {
    background-color: #FFF7F8;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

header {
    width: 100vw;

    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-between;
}

.heading {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 0;
    margin: 0;
}

h3 {
    font-size: 31px;
    margin: 0;
    margin-top: 10px;
    font-family: 'Caveat Brush', cursive;
}

h1 {
    font-size: 42px;
    font-family: 'ApeMount', 'Caveat Brush', cursive;

    margin: 0;
    margin-top: 16px;
}

.left-fan>img, .right-fan>img {
    margin: 0;
    margin-top: 19px;
    max-width: 55px;
}

.right-fan>img {
    transform: rotateY(180deg);
}

/* GAMEBOARD STYLING */
.gameboard {
    margin-top: -40px;
}

.row {
    display: flex;
    margin: 0;
}

.box {
    border: 1px solid black;
    width: 90px;
    height: 90px;
}


/* FOOTER STYLING */
.footer {
    width: 100vw;

    padding: 0;
    margin: 0;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    
    background-color: #212121;
    color: #FFF7F8;
    font-family: 'Caveat Brush', cursive;
}